body{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  background:linear-gradient(136deg,rgb(77, 0, 128),rgb(0, 255, 221));
  max-height: 100vh;
}
.container {
  width: 300px;
  margin: 50px auto;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px gray;
  text-align: center;
  color:white;
  font-family: Arial, Helvetica, sans-serif;
  
}

input {
  width: 90%;
  padding: 8px;
  margin: 8px 0;
  outline: none;
  border-radius: 10px;
}
input:focus{
  border: 2px solid rgb(77, 0, 128);
 
}
.output{
  text-align: start;
  margin-left: 5px;
}

.error {
  color: red;
  font-size: 12px;
  margin: 0;
}
@media screen and (max-width:600px){
  .container{
    width:200px;
  }
  
}
